.container {

    display: grid;
    margin: auto;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /*background-color: blue;*/

    
}

.top {

    height: 100px;

}

.buttDiv {

    display: grid;
    border-color: purple;
    background-color: powderblue;
    border-style: solid;
    height: 1fr;
    width: 1fr;
    text-align: center;
    align-items: ;
    


}

.childButton {

    display: grid;
    height: 35px;
    width: 35px;
    font-size: 15px;
    align-self: center;
    justify-self: center;
    place-items: center center;

}

.calcbox {

    display: grid;
    height: 30px;
    width: 395px;
    border: 3px solid green;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align: right;
    font-size: 15px;
    font
    
}